@media (max-width: 1024px) {
  .scroll-indicator-controller {
    right: 10px;
  }
}

@media (hover: hover) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px);
  }
}
@media (hover: none) {
  .scroll-indicator-controller > div span {
    display: none;
  }
}
.scroll-indicator-controller.indi-mobile > div span {
  display: none;
}
.scroll-indicator-controller > div.active {
  background: rgb(26, 163, 255);
  border-color: rgba(0, 0, 0, 0.25);
}
@supports (-ms-ime-align: auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease;
  }
}
@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  h1 {
    font-size: 3rem;
  }
  li {
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  #logo_text {
    font-size: 0.5rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

@media (max-width: 500px) {
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}
